NhanVienTuVan/Connected Services/VanPhongService/ChoThueVanPhongService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeVanPhong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eVanPhong" nillable="true" type="tns:eVanPhong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeVanPhong" nillable="true" type="tns:ArrayOfeVanPhong" />
  <xs:complexType name="eVanPhong">
    <xs:sequence>
      <xs:element minOccurs="0" name="DienTich" type="xs:double" />
      <xs:element minOccurs="0" name="GiaThue" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoBongDen" type="xs:int" />
      <xs:element minOccurs="0" name="SoMayLanh" type="xs:int" />
      <xs:element minOccurs="0" name="TangLau" type="xs:int" />
      <xs:element minOccurs="0" name="TenPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eVanPhong" nillable="true" type="tns:eVanPhong" />
</xs:schema>