NhanVienTuVan/Connected Services/VanPhongService/ChoThueVanPhongService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChoThueVanPhongService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57527/ChoThueVanPhongService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57527/ChoThueVanPhongService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57527/ChoThueVanPhongService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChoThueVanPhongService_LayDanhSachPhong_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDanhSachPhong" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDanhSachPhong_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDanhSachPhongResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSVanPhongTrong_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSVanPhongTrong" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSVanPhongTrong_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSVanPhongTrongResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSVanPhongDangChoThue_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSVanPhongDangChoThue" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSVanPhongDangChoThue_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSVanPhongDangChoThueResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_DangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:DangNhap" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_DangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayNhanVienDangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:LayNhanVienDangNhap" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayNhanVienDangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayNhanVienDangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSKhachHangDangThue_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSKhachHangDangThue" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSKhachHangDangThue_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSKhachHangDangThueResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_TaoPhieuKiemTra_InputMessage">
    <wsdl:part name="parameters" element="tns:TaoPhieuKiemTra" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_TaoPhieuKiemTra_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaoPhieuKiemTraResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_CapNhatPhieuKiemTra_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatPhieuKiemTra" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_CapNhatPhieuKiemTra_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatPhieuKiemTraResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSPhieuDaDuyet_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSPhieuDaDuyet" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSPhieuDaDuyet_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSPhieuDaDuyetResponse" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSPhieuChuaDuyet_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSPhieuChuaDuyet" />
  </wsdl:message>
  <wsdl:message name="IChoThueVanPhongService_LayDSPhieuChuaDuyet_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSPhieuChuaDuyetResponse" />
  </wsdl:message>
  <wsdl:portType name="IChoThueVanPhongService">
    <wsdl:operation name="LayDanhSachPhong">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDanhSachPhong" message="tns:IChoThueVanPhongService_LayDanhSachPhong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDanhSachPhongResponse" message="tns:IChoThueVanPhongService_LayDanhSachPhong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSVanPhongTrong">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongTrong" message="tns:IChoThueVanPhongService_LayDSVanPhongTrong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongTrongResponse" message="tns:IChoThueVanPhongService_LayDSVanPhongTrong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSVanPhongDangChoThue">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongDangChoThue" message="tns:IChoThueVanPhongService_LayDSVanPhongDangChoThue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongDangChoThueResponse" message="tns:IChoThueVanPhongService_LayDSVanPhongDangChoThue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/DangNhap" message="tns:IChoThueVanPhongService_DangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/DangNhapResponse" message="tns:IChoThueVanPhongService_DangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienDangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayNhanVienDangNhap" message="tns:IChoThueVanPhongService_LayNhanVienDangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayNhanVienDangNhapResponse" message="tns:IChoThueVanPhongService_LayNhanVienDangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSKhachHangDangThue">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSKhachHangDangThue" message="tns:IChoThueVanPhongService_LayDSKhachHangDangThue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSKhachHangDangThueResponse" message="tns:IChoThueVanPhongService_LayDSKhachHangDangThue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaoPhieuKiemTra">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/TaoPhieuKiemTra" message="tns:IChoThueVanPhongService_TaoPhieuKiemTra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/TaoPhieuKiemTraResponse" message="tns:IChoThueVanPhongService_TaoPhieuKiemTra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatPhieuKiemTra">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/CapNhatPhieuKiemTra" message="tns:IChoThueVanPhongService_CapNhatPhieuKiemTra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/CapNhatPhieuKiemTraResponse" message="tns:IChoThueVanPhongService_CapNhatPhieuKiemTra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSPhieuDaDuyet">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuDaDuyet" message="tns:IChoThueVanPhongService_LayDSPhieuDaDuyet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuDaDuyetResponse" message="tns:IChoThueVanPhongService_LayDSPhieuDaDuyet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSPhieuChuaDuyet">
      <wsdl:input wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuChuaDuyet" message="tns:IChoThueVanPhongService_LayDSPhieuChuaDuyet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuChuaDuyetResponse" message="tns:IChoThueVanPhongService_LayDSPhieuChuaDuyet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChoThueVanPhongService" type="tns:IChoThueVanPhongService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayDanhSachPhong">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDanhSachPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSVanPhongTrong">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongTrong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSVanPhongDangChoThue">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDSVanPhongDangChoThue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangNhap">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/DangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienDangNhap">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayNhanVienDangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSKhachHangDangThue">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDSKhachHangDangThue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaoPhieuKiemTra">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/TaoPhieuKiemTra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatPhieuKiemTra">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/CapNhatPhieuKiemTra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSPhieuDaDuyet">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuDaDuyet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSPhieuChuaDuyet">
      <soap:operation soapAction="http://tempuri.org/IChoThueVanPhongService/LayDSPhieuChuaDuyet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChoThueVanPhongService">
    <wsdl:port name="BasicHttpBinding_IChoThueVanPhongService" binding="tns:BasicHttpBinding_IChoThueVanPhongService">
      <soap:address location="http://localhost:57527/ChoThueVanPhongService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>