NhanVienTuVan/Connected Services/VanPhongService/ChoThueVanPhongService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeVanPhong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eVanPhong" nillable="true" type="tns:eVanPhong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeVanPhong" nillable="true" type="tns:ArrayOfeVanPhong" />
  <xs:complexType name="eVanPhong">
    <xs:sequence>
      <xs:element minOccurs="0" name="DienTich" type="xs:double" />
      <xs:element minOccurs="0" name="GiaThue" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoBongDen" type="xs:int" />
      <xs:element minOccurs="0" name="SoMayLanh" type="xs:int" />
      <xs:element minOccurs="0" name="TangLau" type="xs:int" />
      <xs:element minOccurs="0" name="TenPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eVanPhong" nillable="true" type="tns:eVanPhong" />
  <xs:complexType name="eNhanVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChucVu" type="xs:int" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaNV" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QueQuan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoCMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenNV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eNhanVien" nillable="true" type="tns:eNhanVien" />
  <xs:complexType name="ArrayOfeKhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eKhachHang" nillable="true" type="tns:eKhachHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeKhachHang" nillable="true" type="tns:ArrayOfeKhachHang" />
  <xs:complexType name="eKhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaKH" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoCMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenKH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eKhachHang" nillable="true" type="tns:eKhachHang" />
  <xs:complexType name="ePhieuYeuCauKiemTraPhong">
    <xs:sequence>
      <xs:element minOccurs="0" name="ENhanVien" nillable="true" type="tns:eNhanVien" />
      <xs:element minOccurs="0" name="EVanPhong" nillable="true" type="tns:eVanPhong" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNV" type="xs:int" />
      <xs:element minOccurs="0" name="MaNVKyThuat" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhieuKTra" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayTao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TinhTrangPhong" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrangThaiPhieu" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ePhieuYeuCauKiemTraPhong" nillable="true" type="tns:ePhieuYeuCauKiemTraPhong" />
  <xs:complexType name="ArrayOfePhieuYeuCauKiemTraPhong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ePhieuYeuCauKiemTraPhong" nillable="true" type="tns:ePhieuYeuCauKiemTraPhong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfePhieuYeuCauKiemTraPhong" nillable="true" type="tns:ArrayOfePhieuYeuCauKiemTraPhong" />
</xs:schema>